.headingContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.heading {
  margin: 0;
}

.scheduleContainer {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 2;
}

.scheduleRow {
  display: inline-block;
  height: 27px;
  line-height: 1;
}

.helpText {
  color: #919193;
  cursor: pointer;
  font-weight: 500;
  text-decoration: underline;
  margin-bottom: 20px;
}

input {
  width: 30px;
}

select {
  display: inline-block;
  width: 95px;
  height: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
