.indicator-container {
  position: absolute;
  top: 0;
}

.indicator-remaining {
  height: 5px;
  background-color: #389afc;
  width: 100%;
  position: fixed;
  left: 0;
  transition: width 0.25s;
}

.indicator-elapsed {
  height: 5px;
  background-color: white;
  width: 0%;
  position: fixed;
  right: 0;
  transition: width 0.25s;
}

.heading {
  margin-top: 0px;
  margin-bottom: 15px;
  line-height: 1;
}

.t-container {
  line-height: 1;
  margin-bottom: 10px;
}

.hours {
  font-size: 28px;
}

.minutes {
  font-size: 28px;
}

.seconds {
  font-size: 21px;
}

.t-label {
  font-weight: 500;
}

.end-time {
  color: #919193;
  font-size: 16px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
}

.button-stop {
  background-color: #f15555;
}
